train_model/generate_training_database/gen_crypto_database/apo_structures
train_model/generate_training_database/gen_crypto_database/holo_structures
train_model/generate_training_database/gen_crypto_database/apo_seqs
train_model/generate_training_database/gen_crypto_database/holo_seqs
train_model/generate_training_database/gen_crypto_database/apo_holo_numbering_dicts
train_model/generate_training_database/ext_crypto_database/extended_db
train_model/generate_training_database/ext_crypto_database/__pycache__
train_model/ml/train_set_conc
train_model/ml/__pycache__
run_model/__pycache__
run_model/input_data/*
run_model/output_data/*
